@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');4
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
/* Body Styling */
body {
  background-color: rgb(11, 11, 11); 
  background-image: 
    linear-gradient(rgb(70, 70, 70) 0.5px, transparent 0.5px), 
    linear-gradient(90deg, rgb(70, 70, 70) 0.5px, transparent 0.5px); 
  background-size: 11px 11px; 
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameInfo {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 3rem;
  color: yellow;
}

#gameContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.displayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  justify-content: center;
  align-content: center;
  background-color: yellow; 
  background-image: 
    linear-gradient(rgb(70, 70, 70) 0.5px, transparent 0.5px), 
    linear-gradient(90deg, rgb(70, 70, 70) 0.5px, transparent 0.5px); 
  background-size: 11px 11px; 
  box-shadow: 10px 10px 1000px #949627;
  margin: 50px;
}
  
.cell {
  background-color: rgb(11, 11, 11); 
  background-image: 
    linear-gradient(rgb(70, 70, 70) 0.5px, transparent 0.5px), 
    linear-gradient(90deg, rgb(70, 70, 70) 0.5px, transparent 0.5px); 
  background-size: 11px 11px; 
  height: 121px;
  width: 121px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.cell:not(.taken):hover {
  background-color: rgb(2, 33, 27); 
  cursor: pointer;
}

.cell.taken {
  pointer-events: none;
}


.cell img.player-symbol {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image scales properly */
  pointer-events: none; /* Prevent users from clicking the image */
  
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.pixel {
  font-size: 1em;
  font-family: "Press Start 2P", "Pixelify Sans";
  width: 100px;
  height: 30px;
  background: yellow;
  border: 0px;
  position: relative;
  box-shadow: 
    inset -4px 2px 1px 1px grey,
    inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;   
}

.pixel:hover {
  cursor: pointer;
	background-color: rgb(221, 221, 2);
}

.pixel:active {
  top: 5px;
  box-shadow: 
    -4px 2px 1px 1px grey,
    -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray; 
}

.pixel::after {
  content: '';
  background: black;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.pixel::before {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}